@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #C71585;
  margin-bottom: 20px;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.logout-button {
  background-color: #FF6F91;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #FF85B3;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

button {
  background-color: #FF6F91;
  cursor: pointer;
  color: #FFFFFF;
}

button:hover {
  background-color: #FF85B3;
}

button i {
  font-size: 1.2em;
}

.MuiSnackbar-root {
  z-index: 1400;
}

input:focus-visible {
  outline: none;
  border-color: #F06292;
  box-shadow: 0 0 0 2px rgba(199, 21, 133, 0.5);
}