

.filter-add-task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

/* Адаптивные стили */
@media (max-width: 768px) {
    .filter-add-task-container {
      flex-direction: column;
      align-items: center;
    }
    .add-task-button {
      width: 100%;
    }
  }