.shared-input {
    border: 1px solid #D291BC;
    background: #FFE3E3;
    resize: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    overflow: hidden;
}

.shared-input-checkbox {
    transform: scale(1.2);
    cursor: pointer;
}

.shared-input:focus-visible {
    border-color: #D291BC;
    outline: none;
}

.shared-input--large {
    padding: 12px;
    font-size: 1.1em;
}

.shared-input--medium {
    padding: 10px;
    font-size: 1em;
}

.shared-input--small {
    padding: 8px;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .shared-input--large {
        font-size: 1em;
    }

    .shared-input--medium {
        font-size: 0.9em;
    }

    .shared-input--small {
        font-size: 0.8em;
    }
}