.todo-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding: 80px;
}

.task-form-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .todo-form {
        padding: 40px;
    }
}

@media (max-width: 480px) {
    .todo-form {
        padding: 20px;
        gap: 5px;
    }
}

/* Стили для десктопа */
@media (min-width: 1024px) {
    .todo-form {
        padding: 96px;
        gap: 20px;
    }
}