.todo-filter {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .todo-filter label {
    margin-right: 10px;
  }
  
  .todo-filter select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #D291BC;
    background: #FFF;
    border-radius: 5px;
    margin-right: 4px; /* Добавляем отступ между фильтрами */
    color: #333;
  }
  .todo-filter select:focus-visible {
      outline: none;
  }

  .todo-filter select:last-child {
    margin-right: 0; /* Убираем отступ после последнего фильтра */
  }



/* Адаптивные стили */
@media (max-width: 768px) {
  .todo-filter {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .todo-filter select {
    font-size: 14px;
    padding: 4px;
  }
}